.mentor-container{
    width: 100%;
}
.mc__emptytxt{
    font-size: 14px;
    color: grey;
}
.mcourse__addmodule{
    display: flex;
    align-items: center;
    column-gap: 10px;

    margin-top: 15px;
    padding: 15px 30px;

    border-radius: 5px;
    border: none;

    background: #1F2A40;
    color: white;
}
.mcourse__addmodule:active{
    background: #182233;
}
.mc__title{
    display: flex;
    align-items: center;
    column-gap: 10px;
}